.main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(228, 234, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.container {
    width: 700px;
    height: 50vh;
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    
}

.sidebar {
     width: 40%;
    background-image: url(/images/bg-sidebar-desktop.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.activity-area {
    width: 70%;
    padding: 0 30px 0 70px;
    
}

/* step 2 */
.options-cont {
    display: flex;
    justify-content: space-between;
}

.option {
    border: solid rgb(202, 202, 202) 1px;
    border-radius: 5px;
    padding: 15px;
    height: 100px;
}

.option:hover {
    border: solid 1px rgb(157, 1, 157);
    cursor: pointer;
}

.option img {
    width: 20px;
}

.option h2 {
   font-size: 15px; 
   padding: 0;
   margin: 0;
}

.option p {
    margin: 0;
}

/* .toggle-btn {
   background-color:#b7b9ba ; 
   border: 1px solid #aaa;
   border-radius: 10px;
   width: 50px;
   height: 20px;
   transition: background-color 0.1s ease, border-color 0.2s ease;
   cursor: pointer;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.74);
   position: relative;
}

.toggle-btn .thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);

}

.toggle-btn.toggled {
    background-color: rgb(0, 162, 0);
}

.toggle-btn:hover {
    border-radius: #6f6f6f;
}

.toggle-btn.toggled .thumb {
    left: calc(50px -23px);
} */
.toggle-cont{
    display: flex;
    align-items: center;
}

.toggle-btn {
   background-color: #b7b9ba; 
   border: 1px solid #aaa;
   border-radius: 10px;
   width: 50px;
   height: 20px;
   transition: background-color 0.1s ease, border-color 0.2s ease;
   cursor: pointer;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.74);
   position: relative;
}

.toggle-btn .thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.15s ease;
}

.toggle-btn.toggled {
    background-color: rgb(0, 162, 0);
}

.toggle-btn.toggled .thumb {
    left: calc(50px - 23px); /* moves thumb to right */
}


/* step 3 */

.check-op {
    display: flex;
    align-items: center;
    border: solid 1px rgb(43, 69, 107);
    margin: 10px 0 0 0;
    border-radius: 10px;
    padding: 10px;
   
}

.check-op input[type='checkbox'] {
   cursor: pointer;
   opacity: 0;
   position: absolute;
}

.check-op label {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

}

.check-op label::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: .15em;
    border: .05em solid purple;
    display: inline-block;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    
    
}

.check-op input[type='checkbox']:checked + label::before {

    content: "";
    background-color: rgba(48, 117, 245, 0.986);
    background-image: url(/images/icon-checkmark.svg);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}


.check-info h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    color: rgb(0, 42, 119);
}

.check-info p{
    margin: 5px 0 0 0;
}